main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: .5em .5em 2em .5em;
    position: relative;
    top: -2.5em;
    background-color: #FFFFFF;
    border-radius: .3em;
}

.searchContainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0px 10px 15px 10px #eeeeee;
}

.searchBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e2e2e2;
    border-radius: .3em;
}

.searchBox button {
    display: flex;
    align-items: center;
    border: none;
    color: #FFFFFF;
    background-color: #FCB813;
    font-size: 1.1em;
    padding: 1em;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.searchBox button:hover {
    background-color: #eeac12;
}

.searchBox input {
    width: 100%;
    border: none;
    outline: none;
    font-family: vazir;
    padding: .5em 1em;
    font-size: .9rem;
}

.searchBox .fa-search {
    color: #B1B7C3;
    padding: 1em;
}

.domainPrice {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.priceBox {
    display: flex;
    align-items: center;
    gap: 2em;
}

.priceItem {
    display: flex;
    align-items: center;
    gap: .5em;
}

.priceItem h4 {
    font-size: 1.5rem;
    color: #213466;
    position: relative;
}

.com:before,
.net::before,
.org::before,
.info::before,
.biz::before,
.me:before,
.ir:before,
.co::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    left: -8px;
    top: 14px;
}

.com::before,
.biz::before {
    background-color: #4DB757;
}

.net::before {
    background-color: #F05B56;
}

.org::before {
    background-color: #8973B4;
}

.info::before {
    background-color: #FCB814;
}

.me::before {
    background-color: #26AAE0;
}

.ir::before {
    background-color: #e2df12;
}

.co::before {
    background: #9f39ff;
}

.priceItem strong {
    color: #213466;
}

.searchContainer a {
    color: #213466;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    font-size: 1.3rem;
    border: 1px solid #e9e9e9bd;
    padding: .6em;
    border-radius: .3em;
    transition: all.3s ease-in-out;
}

.searchContainer a:hover {
    background: #21356610;
}

.aboutServices {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.animation2 {
    max-width: 300px;
    margin: 0 auto;
}

.aboutServices h3 {
    color: #0A1F44;
    font-size: 1.8rem;
    line-height: 1.5em;
    padding: 1em 0;
}

.aboutServicesItem {
    display: flex;
}

.aboutServicesItem li {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 1.1rem;
    padding: .5em 1em;
    color: #0A1F44;
}

.aboutServicesItem i {
    color: #FCB814;
}

.swiper {
    width: 100%;
    background-color: #F8F9FB;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailOptions {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0;
}

.detailOptions h2 {
    width: 80%;
    font-size: 1.5em;
    color: #0A1F44;
    text-align: center;
    line-height: 2em;
}

.detailOptions p {
    font-size: 1.2rem;
    line-height: 1.6em;
    text-align: center;
    color: #213466;
    padding: 0.5em 1.4em;
}

.virtualTourButton {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: .5em;
    background-color: #FFFFFF;
    padding: .8em;
    width: 80%;
    border-radius: .5em;
    box-shadow: 0px 0px 10px 5px #2133680e;
    border: 1px solid #2133680e;
    transition: all .3s ease-in-out;
}

.virtualTourButton a {
    font-size: 1.2rem;
    color: #213466;

}

.virtualTourButton i {
    font-size: 1.1rem;
    color: #213466;
}

.virtualTourButton:active {
    transform: scale(.9);
}

.borderBottom {
    display: flex;
    gap: .5em;
}

.borderBottom span {
    height: 5px;
    border-radius: .5em;
    background-color: #FCB813;
}

.borderBottom span:nth-child(1) {
    width: 5px;
}

.borderBottom span:nth-child(2) {
    width: 60px;
}

.borderBottom span:nth-child(3) {
    width: 15px;
}

.mySwiper {
    width: 90%;
}

.swiper-wrapper {
    transition-timing-function: linear
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em 0;
    border-radius: 1em;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px #2133680e;
    border: 1px solid #2133680e;
}


.swiper-slide img {
    max-width: 100%;
}

.swiper-slide h4 {
    font-size: 1.8rem;
    color: #0A1F44;
}

.swiper-slide h3 {
    font-size: 2rem;
}

.serverLocation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.serverLocation span {
    font-size: 1.1em;
    background-color: #E3E8F6;
    color: #213466;
    padding: .2em .7em;
    border-radius: .3em;
}

.hostOption {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: .5em 2.5em;
}

.hostOption span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-align: right;
    gap: .5em;
    color: #213466;
}

.hostOption span i {
    color: #4DB757;
    font-size: 1.2rem;
}

.hostOption p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    gap: .5em;
    color: #8E9BAC;
    margin-top: 1em;
}

.hostOption p span {
    font-weight: bold;
    color: #213466;
}

.swiper-slide a {
    color: #0A1F44;
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
    padding: .6em 1em;
    border: 1px solid #213466;
    border-radius: .3em;
    transition: all .3s ease-in-out;
}

.swiper-slide a:hover {
    background-color: #2133680e;
}

.dedicatedImg {
    max-width: 90%;
    margin-bottom: 3em;
}

.hostIranServices {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-top: 2em;
    background: linear-gradient(180deg, #F8F9FB, #FFFFFF);
}

.hostIranServices img {
    max-width: 90%;
}

.servicesTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #FCB813;
    color: #FFFFFF;
    padding: .7em 1.5em;
    border-radius: 1.5em;
    margin: 1em 0;
    box-shadow: 0px 5px 20px 5px #e2e2e2;
    margin: 2em 0;
}

.servicesTitle span {
    font-size: 1.5rem;
}

.servicesTitle i {
    font-size: .9rem;
}

.servicesBox {
    width: 80%;
    padding: 1em;
    line-height: 1.5em;
    font-size: 1.1rem;
    border-radius: .5em;
    box-shadow: 0px 0px 15px 5px #2133680e;
    border: 1px solid #2133680e;
    text-align: justify;
    background-color: #FFFFFF;
}

.servicesBox details {
    transition: height .3s ease;
    overflow: hidden;
}

.servicesBox details:not([open]) {
    height: 1.5em;
}

.servicesBox details[open] {
    height: 11em;
}

.servicesBox summary {
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
}

.servicesBox summary span {
    font-size: 1.3rem;
}

.servicesBox summary i {
    color: #26AAE0;
    font-size: 1rem;
}

.customer {
    margin-top: 2em;
    position: relative;
}

.customerLink {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.customerLink a {
    font-size: 1.5rem;
    background-color: #26AAE0;
    border: 2px solid #26AAE0;
    color: #FFFFFF;
    padding: .4em 1.5em;
    border-radius: 1.5em;
    transition: all .3s ease-in-out;
}

.customerLink a:hover {
    background-color: #FFFFFF;
    color: #26AAE0;
}

.customer:hover .customer_mobile,
.customer:hover .customer_desktop {
    --webkit-filter: blur(4px);
    filter: blur(4px);
}

.customer:hover .customerLink {
    opacity: 1;
}

.customer_desktop {
    display: none;
}

.customer_mobile,
.customer_desktop {
    width: 100%;
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
}